project:
  type: website
  output-dir: _build
  # resources:
  #   - objects.txt
  #   - objects-test.txt

execute:
  freeze: auto
  echo: true

metadata-files:
  - api/_sidebar.yml

filters:
  - "interlinks"

interlinks:
  fast: true
  sources:
    python:
      url: https://docs.python.org/3/
    griffe:
      url: https://mkdocstrings.github.io/griffe/
    numpy:
      url: https://numpy.org/doc/stable/
    pandas:
      url: https://pandas.pydata.org/docs/
    matplotlib:
      url: https://matplotlib.org/stable/
    scipy:
      url: https://docs.scipy.org/doc/scipy/
    statsmodels:
      url: https://www.statsmodels.org/stable/
    # quartodoc-test:
    #   url: https://machow.github.io/quartodoc
    #   inv: objects-test.txt

website:
  title: "geneinfo"
  page-navigation: true
  navbar:
    left:
      - href: api/
        text: API reference
      - href: gallery/
        text: Gallery
    right:
      - icon: github
        href: https://github.com/munch-group/geneinfo/
  sidebar:
    - id: pages
      title: Get Started
      style: floating
      align: left
      contents:
        - pages/getting_started.ipynb
        - section: "Information"
          contents:
            - pages/gene_ids.ipynb                   
            - pages/gene_information.ipynb                  
        - section: "Visualization"
          contents:
            - pages/gene_plots.ipynb
            - pages/chrom_ideograms.ipynb              
            - pages/venn.ipynb              
            - pages/string_nets.ipynb
            - pages/go_graphs.ipynb                   
        - section: "Enrichment"
          contents:
            - pages/go_info.ipynb                   
            - pages/go_enrichment.ipynb                   
        - section: "Utilities"
          contents:
            - pages/gene_lists.ipynb
            - pages/cashing.ipynb                   

lightbox: true

format:
  html:
    theme: cosmo
    css:
      - api/_styles-quartodoc.css
      - styles.css
      # - custom.scss
    toc: true
    # code-block-background: false
    # code-block-border-left: true    
    # highlight-style: arrow
    mermaid:
      theme: neutral 

quartodoc:
  package: geneinfo
  style: pkgdown
  dir: api
  render_interlinks: true
  options:
    signature_name: full
  renderer:
    style: markdown
    table_style: description-list
  sidebar: "api/_sidebar.yml"
  css: "api/_styles-quartodoc.css"

  sections:
    - title: Gene information
      desc: |
        These functions retrieve information summaries, for named genes or 
        genes in a defined genomic range, and displays it as rendered Markdown
        in the output cell.
      package: geneinfo.information
      contents:
        - gene_info
        - gene_info_region
    - title: Gene plots
      desc: |
        These functions display information graphically together with each 
        either gene structures in a genomic region (gene_plot) or chromosomal
        ideograms (chrom_ideogram).
      package: geneinfo.plot
      contents:
        - gene_plot
        - GenomeIdeogram
        - ChromIdeogram
        - venn
    - title: Gene coordinates
      desc: |
        These functions retrieve coordinates of named genes or genes in a chromosomal region.
      package: geneinfo.coords
      contents:
        - gene_coords
        - gene_coords_region
    - title: ID conversion
      desc: |
        These functions converts between NCBI, ENSEMBL and HGCN gene identifiers.
      package: geneinfo.information
      contents:
        - ensembl_id
        - hgcn_symbol
        - ensembl2symbol
        - ensembl2ncbi
    - title: STRING networks
      desc: |
        These functions retrieve and display STRING network information.
      package: geneinfo.string
      contents:    
        - string_network_table
        - show_string_network
    - title: GO information
      desc:  |
        These functions retrieve gene ontology information.
      package: geneinfo.ontology
      contents:
        - go_info
        - go_term2name
        - go_name2term
        - get_go_terms_for_genes
        - get_terms_for_go_regex
        - go_annotation_table
    - title: GO enrichment
      desc: |
        These functions allow gene ontology enrichment analyses.
      package: geneinfo.ontology
      contents:
        - go_enrichment
        - show_go_evidence_codes
        - symbols_protein_coding
        - download_data
    - title: GO graphs
      desc: |
        These functions display directed graphs representing sets of connected GO terms.
      package: geneinfo.ontology
      contents:
        - email
        - show_go_dag_for_gene
        - show_go_dag_for_terms
        - show_go_dag_enrichment_results
    - title: Gene annotation
      desc: |
        These functions retrieves genes based on their GO annotation.
      package: geneinfo.ontology
      contents:
        - get_genes_for_go_regex
        - get_genes_for_go_terms
        - gene_annotation_table
    - title: Gene lists
      desc: |
        Thin wrapper for lists, adding methods and operator overloading.
      package: geneinfo.genelist
      contents:
        - GeneList
        - GeneListCollection        
    - title: Utilities
      desc: |
        These are utility functions to record your email in queries and to tabulate genes.
      package: geneinfo.utils
      contents:
        - horizon
        - stairs
        - clear_cache
